
<% @posts.each do |post| %>
	<article class="post">
		<section class="post-head">
			<h2><%= link_to post.title, post %></h2>
			<small>
				<time><%= post.created_at.to_date.strftime("%d.%m.%Y") %> </time>
			</small>
		</section>

		<section class="post-summary">
			<%= post.body %>
		</section>
	</article>

	<div class="post_wrapper">
		
	</div>
<% end %>